# IDE
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/
captures/

# Local config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Misc
.DS_Store
*.log